main {
    display: flex;
    flex-direction: column;
    background-color: #131c21;
    color: #FFF;
    .popular-places {
        .section-title {
            text-align: center;
            margin: 50px 0;
            h2 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }
            h3 {
                font-weight: lighter;
                font-size: 1em;
            }
        }
        .places {
            margin: 50px 0;
            .individual-place {
                width: 100%;
                height: 350px;
                position: relative;
                margin-top: 60px;
                .description {
                    height: 160px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background-color: #10191edb;
                    padding: 0 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name {
                        display: flex;
                        h3 {
                            padding-left: 10px;
                        }
                    }
                }
                &:nth-child(1) {
                    background: url('/assets/images/teatro-municipal.webp');
                }
                &:nth-child(2) {
                    background: url('/assets/images/arena.webp');
                }
                &:nth-child(3) {
                    background: url('/assets/images/jardim-botanico.webp');
                }
                &:nth-child(4) {
                    background: url('/assets/images/restaurantes.webp');
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .popular-places {
            width: 100%;
            .section-title {
                h2 {
                    font-size: 2.5em;
                }
                h3 {
                    font-size: 1.5em;
                }
            }
            .places {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .individual-place {
                    width: 300px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    main {

        .popular-places {
            .places {
                flex-wrap: nowrap;
                justify-content: space-around;
                .individual-place {
                    width: 400px;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .popular-places {
        .section-title {
            h2 {
                font-size: 2.5em;
            }
            h3 {
                font-size: 2em;
            }
        }
    }
}