main {
    .why-choose-us {
        background-color: #10191e;
        text-align: center;
        padding: 50px 0;
        h2 {
            font-size: 1.6em;
            margin: 0;
        }
        .reasons {
            display: flex;
            flex-direction: column;
            .reason-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                .icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    background-color: #252a2d;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &.active {
                    border-bottom: 1px solid #8d9035;
                    .icon {
                        background-color: #8d9035;
                    }
                    h3 {
                        color: #8d9035;
                    }
                }
                .reason-title {
                    h3 {
                        margin: 20px 0;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .why-choose-us {
            h2 {
                font-size: 2.5em;
            }
            .reasons {
                flex-direction: row;
                .reason-item {
                    width: 400px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    main {
        .why-choose-us {
            .reasons{
                align-items: center;
                justify-content: space-evenly;
                .reason-item {
                    cursor: pointer;
                }
            }
        }
    }
}