@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
body .show-desktop, body .show-tablet {
  display: none;
}
body a {
  text-decoration: none;
  color: #FFF;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
}
body .custom-hr {
  width: 180px;
  height: 2px;
  margin: 0;
  margin-top: 10px;
  border-color: #bfbc37;
  background-color: #bfbc37;
}
body .section-max-width {
  max-width: 300px;
  margin: 0 auto;
}
body .section-subtitle {
  font-size: 1.5em;
}
body main {
  display: flex;
  flex-direction: column;
  background-color: #131c21;
  color: #FFF;
}

@media (min-width: 768px) {
  body .section-max-width {
    max-width: 700px;
  }
  body .section-subtitle {
    font-size: 2.5em;
  }
  body .show-tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  body .section-max-width {
    max-width: 1100px;
  }
  body .show-desktop {
    display: block;
  }
  body .show-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  body .section-max-width {
    max-width: 1300px;
  }
}
body a {
  cursor: pointer;
}
body header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #161618;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #CCC;
  z-index: 3;
}
body header img {
  width: 65px;
}
body header svg {
  fill: #FFF;
}
body .header-content {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .header-content .search {
  position: relative;
}
body .header-content .search input {
  width: 500px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1882352941);
  border-radius: 20px;
  color: #FFF;
  outline: 0;
  border: none;
  padding: 0 50px;
}
body .header-content .search input::placeholder {
  color: #FFF;
  font-size: 1.1em;
}
body .header-content .search img {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 24px;
}
body .menu-links {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #c7c7cc;
  right: -300px;
  top: 0;
  transition: all ease-in 0.3s;
}
body .menu-links .close-icon {
  float: right;
  margin: 25px;
}
body .menu-links ul {
  margin: 150px 0;
  text-align: center;
  font-size: 20px;
}
body .menu-links ul li {
  margin: 40px;
}
body .menu-links ul li a {
  color: #000;
}
body .menu-links.menu-open {
  right: 0;
}

@media (min-width: 1200px) {
  body header .header-content .nav-desktop ul {
    display: flex;
  }
  body header .header-content .nav-desktop ul li {
    min-width: 100px;
    margin-left: 20px;
  }
}
section#hero {
  height: 100vh;
  background-image: url("/assets/images/beco-do-batman.png");
  background-repeat: no-repeat;
  background-position: center center;
}
section#hero::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  color: #FFF;
  background-image: linear-gradient(#161618, rgba(22, 22, 24, 0.5647058824));
}
section#hero .destak {
  width: 100%;
  height: calc(100vh - 100px);
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}
section#hero .destak .title {
  color: #FFF;
  margin-top: 150px;
  text-align: center;
}
section#hero .destak .title h1 {
  font-size: 2.7em;
  margin-bottom: 20px;
}
section#hero .destak .title h2 {
  font-weight: lighter;
}

@media (min-width: 768px) {
  body section#hero .destak .title h1 {
    font-size: 5em;
  }
  body section#hero .destak .title h2 {
    font-size: 1.6em;
  }
}
main {
  display: flex;
  flex-direction: column;
  background-color: #131c21;
  color: #FFF;
}
main .popular-places .section-title {
  text-align: center;
  margin: 50px 0;
}
main .popular-places .section-title h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
main .popular-places .section-title h3 {
  font-weight: lighter;
  font-size: 1em;
}
main .popular-places .places {
  margin: 50px 0;
}
main .popular-places .places .individual-place {
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 60px;
}
main .popular-places .places .individual-place .description {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(16, 25, 30, 0.8588235294);
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .popular-places .places .individual-place .description .name {
  display: flex;
}
main .popular-places .places .individual-place .description .name h3 {
  padding-left: 10px;
}
main .popular-places .places .individual-place:nth-child(1) {
  background: url("/assets/images/teatro-municipal.png");
}
main .popular-places .places .individual-place:nth-child(2) {
  background: url("/assets/images/arena.png");
}
main .popular-places .places .individual-place:nth-child(3) {
  background: url("/assets/images/jardim-botanico.png");
}
main .popular-places .places .individual-place:nth-child(4) {
  background: url("/assets/images/restaurantes.png");
}

@media (min-width: 768px) {
  main .popular-places {
    width: 100%;
  }
  main .popular-places .section-title h2 {
    font-size: 2.5em;
  }
  main .popular-places .section-title h3 {
    font-size: 1.5em;
  }
  main .popular-places .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .popular-places .places .individual-place {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  main .popular-places .places {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  main .popular-places .places .individual-place {
    width: 400px;
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .popular-places .section-title h2 {
    font-size: 2.5em;
  }
  .popular-places .section-title h3 {
    font-size: 2em;
  }
}
main .why-choose-us {
  background-color: #10191e;
  text-align: center;
  padding: 50px 0;
}
main .why-choose-us h2 {
  font-size: 1.6em;
  margin: 0;
}
main .why-choose-us .reasons {
  display: flex;
  flex-direction: column;
}
main .why-choose-us .reasons .reason-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
main .why-choose-us .reasons .reason-item .icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #252a2d;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .why-choose-us .reasons .reason-item.active {
  border-bottom: 1px solid #8d9035;
}
main .why-choose-us .reasons .reason-item.active .icon {
  background-color: #8d9035;
}
main .why-choose-us .reasons .reason-item.active h3 {
  color: #8d9035;
}
main .why-choose-us .reasons .reason-item .reason-title h3 {
  margin: 20px 0;
}
main .why-choose-us .reasons .reason-item .reason-title p {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main .why-choose-us h2 {
    font-size: 2.5em;
  }
  main .why-choose-us .reasons {
    flex-direction: row;
  }
  main .why-choose-us .reasons .reason-item {
    width: 400px;
  }
}
@media (min-width: 992px) {
  main .why-choose-us .reasons {
    align-items: center;
    justify-content: space-evenly;
  }
  main .why-choose-us .reasons .reason-item {
    cursor: pointer;
  }
}
main .perfect-vacations {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
main .perfect-vacations .vacation-images {
  display: flex;
  justify-content: space-around;
}
main .perfect-vacations .vacation-images div img {
  width: 100%;
  margin-top: 10px;
}
main .perfect-vacations .vacation-images div:nth-child(1) {
  width: 214px;
}
main .perfect-vacations .vacation-images div:nth-child(2) {
  width: 160px;
}
main .perfect-vacations .vacation-text h2 {
  font-size: 1.6em;
  margin-top: 50px;
}
main .perfect-vacations .vacation-text p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  main .perfect-vacations {
    padding: 50px 10px;
    flex-direction: row;
  }
  main .perfect-vacations .vacation-images div:nth-child(2) {
    margin-left: 15px;
  }
  main .perfect-vacations .vacation-text {
    padding: 0 0 0 20px;
  }
  main .perfect-vacations .vacation-text h2 {
    font-size: 2.1em;
    margin-top: unset;
  }
}
@media (min-width: 992px) {
  main .perfect-vacations {
    justify-content: center;
  }
  main .perfect-vacations .vacation-images div:nth-child(1) {
    width: 339px;
  }
  main .perfect-vacations .vacation-images div:nth-child(2) {
    width: 253px;
  }
  main .perfect-vacations .vacation-text {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  main .perfect-vacations .vacation-text h2 {
    max-width: 550px;
  }
  main .perfect-vacations .vacation-text p {
    max-width: 500px;
  }
}
@media (min-width: 1400px) {
  main .perfect-vacations .vacation-text h2 {
    max-width: 700px;
  }
  main .perfect-vacations .vacation-text p {
    max-width: 600px;
  }
}
main .explore-nature {
  padding: 50px 0;
  background-color: #10191e;
}
main .explore-nature .nature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .explore-nature .nature-title:nth-child(2) {
  margin-left: -110px;
}
main .explore-nature .nature-image {
  width: 100%;
  height: 878px;
  background: url("/assets/images/parque-ibirapuera.png") no-repeat;
  background-position: -600px;
  margin-top: 50px;
}
main .explore-nature .nature-image .image-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 140px 40px;
}
main .explore-nature .nature-image .image-texts .nature-destak {
  max-width: 250px;
  min-height: 100px;
  background-color: rgba(204, 204, 204, 0.3137254902);
  border-radius: 5px;
  padding: 15px;
}
main .explore-nature .nature-image .image-texts .nature-destak:nth-child(2) {
  align-self: flex-end;
}

@media (min-width: 768px) {
  main .explore-nature .nature-image {
    background-position: unset;
  }
}
@media (min-width: 992px) {
  main .explore-nature .image-texts .nature-destak {
    padding: 20px;
  }
  main .explore-nature .image-texts .nature-destak p {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  main .explore-nature .image-texts {
    max-width: 900px;
  }
}
main .testimonials {
  padding: 50px 0;
}
main .testimonials .testimonial-item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
main .testimonials .testimonial-item img {
  width: 300px;
  height: 172px;
  margin-top: 30px;
}
main .testimonials .testimonial-item.right {
  text-align: right;
}
main .testimonials .testimonial-quote p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  main .testimonials .testimonial-item {
    flex-direction: row;
  }
  main .testimonials .testimonial-item img {
    width: 350px;
    height: 201px;
    margin-top: 0;
    margin-left: 50px;
  }
  main .testimonials .testimonial-item p {
    font-size: 1.3em;
  }
  main .testimonials .testimonial-item.right {
    flex-direction: row-reverse;
  }
  main .testimonials .testimonial-item.right img {
    margin-right: 50px;
    margin-left: unset;
  }
}
@media (min-width: 1200px) {
  main .testimonials .testimonial-item img {
    width: 500px;
    height: 286px;
  }
}
footer {
  background: url("/assets/images/estrada.png") no-repeat;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
footer::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  color: #FFF;
  background-image: linear-gradient(#161618, rgba(22, 22, 24, 0.5647058824));
  z-index: 1;
}
footer .footer-info, footer .copyright {
  z-index: 2;
}
footer .footer-info {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
footer .footer-info .logo {
  align-self: center;
  margin-left: 10px;
}
footer .footer-info .links-and-contact {
  margin-top: 100px;
  width: 100%;
}
footer .footer-info .links-and-contact .footer-links li {
  margin-top: 10px;
}
footer .footer-info .links-and-contact h3 {
  font-size: 1.6em;
}
footer .footer-info .links-and-contact .contact {
  margin-top: 40px;
}
footer .footer-info .links-and-contact .contact p {
  padding-top: 10px;
}
footer .footer-info .social-media {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
footer .footer-info .social-media a img {
  height: 50px;
}
footer .copyright {
  width: 100%;
  height: 100px;
  border-top: 2px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    background: url("/assets/images/estrada-desktop.png") no-repeat;
    background-position: right;
    background-color: #10191e;
    background-size: 100%;
  }
  footer .footer-info {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin-top: unset;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: unset;
  }
  footer .footer-info .logo img {
    width: 70%;
  }
  footer .footer-info .links-and-contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: unset;
  }
  footer .footer-info .links-and-contact .contact {
    margin-top: unset;
    margin-left: 50px;
  }
  footer .footer-info .links-and-contact .contact p {
    padding-top: 10px;
  }
  footer .footer-info .social-media {
    margin: unset;
  }
  footer .footer-info .social-media a img {
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  footer .footer-info {
    max-width: 1100px;
  }
  footer .footer-info .logo {
    width: 30%;
  }
  footer .footer-info .links-and-contact .contact {
    margin-left: unset;
  }
  footer .footer-info .social-media {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
