@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
body .show-desktop, body .show-tablet {
  display: none;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body ul li a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
body header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #161618;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #CCC;
  z-index: 1;
}
body header img {
  width: 65px;
}
body header svg {
  fill: #FFF;
}
body .header-content {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .header-content .search {
  position: relative;
}
body .header-content .search input {
  width: 500px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1882352941);
  border-radius: 20px;
  color: #FFF;
  outline: 0;
  border: none;
  padding: 0 50px;
}
body .header-content .search input::placeholder {
  color: #FFF;
  font-size: 1.1em;
}
body .header-content .search img {
  position: absolute;
  top: 7px;
  left: 15px;
  width: 24px;
}
body .menu-links {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #c7c7cc;
  right: -300px;
  top: 0;
  transition: all ease-in 0.3s;
}
body .menu-links .close-icon {
  float: right;
  margin: 25px;
}
body .menu-links ul {
  margin: 150px 0;
  text-align: center;
  font-size: 20px;
}
body .menu-links ul li {
  margin: 40px;
}
body .menu-links ul li a {
  color: #000;
}
body .menu-links.menu-open {
  right: 0;
}

@media (min-width: 768px) {
  body .show-tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  body .show-desktop {
    display: block;
  }
  body .show-mobile {
    display: none;
  }
  body header .header-content .nav-desktop ul {
    display: flex;
  }
  body header .header-content .nav-desktop ul li {
    min-width: 100px;
    margin-left: 20px;
  }
}
section#hero {
  height: 100vh;
  background-image: url("/assets/images/beco-do-batman.png");
  background-repeat: no-repeat;
  background-position: center center;
}
section#hero::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  color: #FFF;
  background-image: linear-gradient(#161618, rgba(22, 22, 24, 0.5647058824));
}
section#hero .destak {
  width: 100%;
  height: calc(100vh - 100px);
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}
section#hero .destak .title {
  color: #FFF;
  margin-top: 150px;
  text-align: center;
}

@media (min-width: 768px) {
  body section#hero .destak .title h1 {
    font-size: 5em;
  }
  body section#hero .destak .title h2 {
    font-size: 1.2em;
  }
}
main {
  display: flex;
  flex-direction: column;
  background-color: #131c21;
  color: #FFF;
}
main .popular-places {
  margin: 0 auto;
  max-width: 300px;
}
main .popular-places .section-title {
  text-align: center;
  margin: 50px 0;
}
main .popular-places .section-title h2 {
  font-size: 1.5em;
}
main .popular-places .section-title h3 {
  font-weight: lighter;
  font-size: 1em;
}
main .popular-places .places {
  margin: 50px 0;
}
main .popular-places .places .individual-place {
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 60px;
}
main .popular-places .places .individual-place .description {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(16, 25, 30, 0.8588235294);
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .popular-places .places .individual-place .description .name {
  display: flex;
}
main .popular-places .places .individual-place .description .name h3 {
  padding-left: 10px;
  margin: 0;
}
main .popular-places .places .individual-place .description p {
  margin: 0;
}
main .popular-places .places .individual-place:nth-child(1) {
  background: url("/assets/images/teatro-municipal.png");
}
main .popular-places .places .individual-place:nth-child(2) {
  background: url("/assets/images/arena.png");
}
main .popular-places .places .individual-place:nth-child(3) {
  background: url("/assets/images/jardim-botanico.png");
}
main .popular-places .places .individual-place:nth-child(4) {
  background: url("/assets/images/restaurantes.png");
}

@media (min-width: 768px) {
  main .popular-places {
    max-width: 700px;
    width: 100%;
  }
  main .popular-places .section-title h2 {
    font-size: 2.5em;
  }
  main .popular-places .section-title h3 {
    font-size: 1.5em;
  }
  main .popular-places .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .popular-places .places .individual-place {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  main .popular-places {
    max-width: 1100px;
  }
  main .popular-places .places {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  main .popular-places .places .individual-place {
    width: 400px;
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .popular-places {
    max-width: 1300px;
  }
  .popular-places .section-title h2 {
    font-size: 2.5em;
  }
  .popular-places .section-title h3 {
    font-size: 2em;
  }
}

/*# sourceMappingURL=index.css.map */
